apply==1.7
async-timeout==4.0.3
blinker==1.6.2
certifi==2023.7.22
chardet==4.0.0
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
definitions==0.2.0
Deprecated==1.2.14
Flask==3.0.0
Flask-Limiter==3.5.0
idna==2.10
importlib-metadata==6.8.0
importlib-resources==6.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
limiter==0.3.1
limits==3.6.0
lxml==4.9.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
nltk==3.8.1
numpy==1.26.0
ordered-set==4.1.0
packaging==23.2
prometheus-client==0.18.0
pybreaker==1.0.2
Pygments==2.16.1
python-consul==1.1.0
PyYAML==6.0.1
redis==3.5.3
regex==2023.8.8
requests==2.25.1
rich==13.6.0
sets==0.3.2
six==1.16.0
StrEnum==0.4.15
token-bucket==0.3.0
tqdm==4.66.1
typing_extensions==4.8.0
urllib3==1.26.16
Werkzeug==3.0.0
wrapt==1.15.0
zipp==3.16.2
redis-py-cluster==2.1.3